@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Codenames</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SpymasterTran"><button class="btn btn-primary">Start Game</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn"><button class="btn btn-primary">Log In</button></a>
</div>
