@{
    ViewData["Title"] = "Home Page";
}
<script src="https://sdk.scdn.co/spotify-player.js%22%3E"></script>

<div class="text-center">
    <h1 class="display-4">Welcome to Codenames</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SpymasterTran"><button class="btn btn-primary">Start Game</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn"><button class="btn btn-primary">Log In</button></a>
</div>
