@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Codenames</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GuesserScreen"><button>Start Game</button></a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogIn"><button>Log In</button></a>
</div>
