<div class="title">
<h1>How to play codenames</h1>
</div>
<div class="body">
	<p>In the game codenames four players join together in two teams of two. Each team has a player degsinated as the spymaster and one as the guesser. </p>
</div>