<div class="title">
<h1>How to play codenames</h1>
</div>
<div class="body">
	<p> Teams compete by each having a "spymaster" give one-word clues that can point to multiple words on the board. The other players on the team attempt to guess their team's words while avoiding the words of the other team</p>
	<p></p>
</div>