@model IEnumerable<Card>

<div class="text-center">
    <h2>You Are A Spy Master</h2>
</div>

<div class="container text-center">
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Black">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Red">
                Column
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="Blue">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
            <div class="White">
                Column
            </div>
        </div>
    </div>
</div>